body{
  color:#8B7969;
}

h1, h2, p, span, th, td, input{
  /* font-family: "Times New Roman" , "游明朝" , "Yu Mincho" , "游明朝体" , "YuMincho" , "ヒラギノ明朝 Pro W3" , "Hiragino Mincho Pro" , "HiraMinProN-W3" , "HGS明朝E" , "ＭＳ Ｐ明朝" , "MS PMincho" , serif; */
  font-family: 'Inika';
  font-weight: normal;
 
}
h1{
  font-size: 32px;
}
h2{
  font-size: 28px;
}
.header {
  background: #fff;
  border-bottom:solid 1px #E0DFDE;
}
  
.header__inner {
  position: relative;
  width: 100%;
  height: 100px;
}
  
.header-logo {  
  margin:auto;  
  width :400px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;

}
.header-logo a{
  color:#8B7969;
  text-decoration: none;
}

.header-utilities{
  position: absolute;
  right: 0;
  top: 0;
  width :150px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
