.confirm__content {
  margin: 0 auto;
  padding: 15px 15px 60px 15px;
  max-width: 1230px;
}

.confirm__heading {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 70%;
}

.confirm-table {
  width: 100%;
  table-layout: fixed;
}

.confirm-table tr{
  width: 100%;
}

.confirm-table__header {
  padding: 15px;
  width: 170px;
  border-bottom: 1px solid #ddd;
  background-color: #BAA899;
  font-weight: bold;
  font-size: 14px;
  color: #fff;
}

.confirm-table__text {
  padding: 15px;
  border-bottom: 1px solid #ddd;  
}

.confirm-table__text input, .confirm-table__text span {
  width: 100%;
  outline: none;
  border: none;
  color:#82756A;
  font-size: 16px;
}

.confirm-table__row:last-child .confirm-table__header,
.confirm-table__row:last-child .confirm-table__text {
  border-bottom-width: 0;
}

.form__button {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.form__button-submit {
  width: 120px;
  height: 50px;
  border: none;
  background: #82756A;
  color: #fff;
  cursor: spointer;
  margin: 0 15px;
}
.form__button-submit:hover{
  background: #c7c0ba;
}
.form__button-cancel {
  background: #F0f0f0;
  color: #8B7969;
}
