.contact-form__content {
  margin: 0 auto;
  padding: 15px 15px 60px 15px;
  max-width: 1230px;
}

.contact-form__heading {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 90%;
}
.contact-table{
  width: 100%;
  table-layout: fixed;
}
.contact-table th{
  text-align: left;
  padding: 10px 5px;
  font-weight: normal;
  width: 200px;
}

.form__label--required {
  margin-left: 5px;
  color: #FF9494;
}

.form__error {
  height: 20px;
  color: #ff0000;
  text-align: left;
  font-size: small;
  padding-left: 20px;
}

.form__input--text{
  display: flex;
  justify-content: space-between;
}

.form__input--text input, .form__input--text textarea {
  flex-grow: 1;
  width: 0;
  margin:0 5px;
  padding: 10px;
  border: none;
  appearance: none;
  height: 40px;
  background: #F4F4F4;
  color:#8B7969;
}

.form__input--text textarea {
  height: 180px;
}

.form__input--text select {
  margin:0 5px;
  padding: 10px;
  border: none;
  appearance: none;
  height: 40px;
  background: #F4F4F4;
  color:#8B7969;
}

.form__input--radio input{
  margin:0 5px;
  padding: 10px;
  accent-color:#8B7969;
}

.form__button {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.form__button-submit {
  width: 120px;
  height: 50px;
  border: none;
  background: #82756A;
  color: #fff;
  cursor: pointer;
}
.form__button-submit:hover{
  background: #c7c0ba;
}