
/* =================================== */
/* ステータス表示領域（上部） */
/* =================================== */
.current-status__container{
  display: grid;
  grid-template-rows: 100px;
  grid-template-columns: 200px 1fr 100px;
}

.current-status{
  display: flex;
  justify-content: center; 
  align-items: center;    
  padding:5px;
}
.current-status__time{
  width: 100%;
}
.current-status__time--today{
  font-size: 16px;
  margin: 0 0 0 auto;
}
.current-status__time--realtime{
  margin: 0 auto;
  text-align: center;
  align-items: center;    
}
#realtime{
  font-size: 36px;
  font-weight: bold;
}

.current-status__profile{
  margin: 0 auto;
  text-align: center;
  align-items: center;   
}
.current-status__profile span{
  font-size: 18px;   
}
#user-name{
  font-size: 28px;   
}


/* =================================== */
/* ステータス表示領域（下部） */
/* =================================== */
.record-status{
  display: flex;
  justify-content: center;
  align-items: center;
}
.record-status th{
  width: 200px;
  font-weight: bold;
  padding:15px;
}
.record-status td{
  width: 200px;
  text-align: center;
}
.record-status tr{
  border-bottom:1px solid #ccc;
  
}

/* =================================== */
/* 打刻用の4つのボタン */
/* =================================== */

.atte-selecter{
  display: grid;
  grid-template-rows: 150px 90px;
  grid-template-columns: 1fr 1fr;
  margin: 10px 10%;
}
.atte-selecter__button{
  width: 100%;
  height: 100%;
  display:flex;
  align-items: center;
  justify-content: center; 

}
.atte-selecter__button button{

  width: 100%;
  margin:5px;
  height: 90%;
  background: #fff;
  color:#666;
  border: none;
  font-size:32px;
}
.atte-selecter__button button:hover{
  background: #f6d0aa;
}
.atte-selecter__button button:disabled{
  background: #fff;
  color:#ccc;
}















.contact-form__content {
  margin: 0 auto;
  padding: 15px 15px 60px 15px;
  max-width: 1230px;
}

.contact-form__heading {
  margin-bottom: 40px;
  text-align: center;
}

.form {
  margin: 0 auto;
  width: 90%;
}
.contact-table{
  width: 100%;
  table-layout: fixed;
}
.contact-table th{
  text-align: left;
  padding: 10px 5px;
  font-weight: normal;
  width: 200px;
}

.form__label--required {
  margin-left: 5px;
  color: #FF9494;
}

.form__error {
  height: 20px;
  color: #ff0000;
  text-align: left;
  font-size: small;
  padding-left: 20px;
}

.form__input--text{
  display: flex;
  justify-content: space-between;
}

.form__input--text input, .form__input--text textarea {
  flex-grow: 1;
  width: 0;
  margin:0 5px;
  padding: 10px;
  border: none;
  appearance: none;
  height: 40px;
  background: #F4F4F4;
  color:#8B7969;
}

.form__input--text textarea {
  height: 180px;
}

.form__input--text select {
  margin:0 5px;
  padding: 10px;
  border: none;
  appearance: none;
  height: 40px;
  background: #F4F4F4;
  color:#8B7969;
}

.form__input--radio input{
  margin:0 5px;
  padding: 10px;
  accent-color:#8B7969;
}

.form__button {
  display:flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
}

.form__button-submit {
  width: 120px;
  height: 50px;
  border: none;
  background: #82756A;
  color: #fff;
  cursor: pointer;
}
.form__button-submit:hover{
  background: #c7c0ba;
}